ul{list-style-type: none;
    
}
a{
    text-decoration: none;
    color: black;
}

*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}

.container_ul{
    display: flex;
    align-items: center;
}

li{
    margin: 0 5px;
    padding: 5px;
}